
      .about-rich-text.w-richtext p, h1, h2, h3{
        color: black;
      }


      .smart-section {
        position: relative;
        z-index: 2;
        width: 100%;
        margin-top: 0rem;
        padding: 6rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        font-family: Montserrat, sans-serif;
        color: #fff;
        font-size: 1rem;
        line-height: 1.8;
      }

      
      
      .smart-section.no-top.no-bot.light {
        background-color: #fff;
      }

      .smart-section.no-top.no-bot._12rem-sides {
        padding-right: 12rem;
        padding-left: 12rem;
      }

      .smart-section.no-top.no-bot.margin-half-bottom {
        margin-bottom: 3rem;
      }

      .smart-section.no-top.no-bot.partners {
        padding-right: 12rem;
        padding-left: 12rem;
      }

      .smart-section.no-bot {
        padding-bottom: 0rem;
      }

      .about-rich-text {
        padding-right: 0rem;
        padding-left: 0rem;
      }
      .about-rich-text figure {
        width: 25vw;
      }



    /* Team Guys */


    .aviContainer{
      width: 100%;
      margin-top: 4%;
    }

    .aviGridBox{
      display: inline-block;
      width: 300px;
      margin: 10px 10px;

    }


    .aviBox{
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      padding: 0% 8%;
      justify-content: space-around;
      text-align: center;
    }


    @media only screen and (min-width: 100px) and (max-width: 600px){
     
      footer {
        margin-top: 7225px;
      }
      .postAboutText{
        margin: auto;
        width: 80%;
      }
      .pulsate{
        font-size: 1.5rem !important;
      }
    }
    @media only screen and (max-width: 999px) {
      .aviBox {
        margin: 0% 12%;
      }
      .aviGridBox{
        margin: 2% 0%;
      }
      footer {
        margin-top: 115px;
      }
      .postAboutText{
        margin: auto;
        width: 80%;
      }
     
    }
    @media only screen and (min-width: 1000px) {
      .aviBox{padding: 0% 1%;}
    }

    @media only screen and (min-width: 1500px) {
      .aviBox{padding: 0% 13%;}
    }


    .aviCardContainer{

      margin-left: 1%; margin-right: 2%;
      width: 100%;
      height: 410px;
      border: solid 1px white;

      /*border: solid 1px black;
      background-color: #fff5;*/
      border-radius: 9px;
      display: flex; justify-content: center;
    }

    .aviCard{
      width: 90%;
      text-align-last: center;
      margin-left: 2%; margin-right: 2%;

    }

    .aviDescription{
      margin: auto;
      height: 100px;
      margin-top: 7%;
      color: white;
    }
    .aviName{
      text-transform: capitalize;
      height: 40px;
      font-size: 20px;
      color: white;
      margin-top: 3%;

    }
    .aviTitle{
      margin: auto;
      color: black;
      font-variant: small-caps;
      height: 30px;
      font-size: 18px;
      font-weight: bold;
      background-color: white;
      line-height: 1;
      border-radius: 5px;
      display:inline-block;
      padding: 5px;
    }



    .splashText{
      margin-bottom: 4%;
      color: white;
      text-align: center;
      font-size: 2rem;
    }

    .large-avatar {
      margin: auto;
      margin-top: 6%;
      width: 200px;
      height: 200px;
      clip-path: circle(45.00%);
      border-style: solid;
      border-width: 4px;
      background: #fff;
      border-color: #454545;
    }
    .large-avatar img {
      clip-path: circle(44.9%);
      object-fit: cover;
      height: 100%;
      width: 100%;
    }


    .postAboutSection{
      margin-top: 10%;
      margin-bottom: 10%;
    }

    .postAboutTitle{
      color: white;
      text-align: center;
      font-size: 3rem;
    }
    .postAboutText{
      margin-top: 3%;
      color: white;
      text-align: center;
      font-size: 2rem;
    }
    .postAboutFormatter{
      padding: 1% 30%;
    }
    .postAboutSectionButton{
      height: 75px;
      border-radius: 8px;
      justify-content: center;
      margin-top: 3%;
      text-align: center;
      font-size: 2rem;
    }
    .postAboutFormatter a:hover{
      color: black !important;
      background-color: white;
      border: 2px solid white;
    }
    .postAboutSection a{
      border-radius: 10px;
      border: 2px solid white;
      color: white;
      display: inline-block;
      padding: 2%;
      text-decoration: none;
    }
    .pulsate {
      -webkit-animation: pulsate 1.5s ease-out;
      -webkit-animation-iteration-count: infinite;
      opacity: 0.5;
    }
    @-webkit-keyframes pulsate {
        0% {
            opacity: 0.2;
        }
        50% {
            opacity: 0.95;
        }
        100% {
            opacity: 0.2;
        }
    }

    blockquote{
      text-align: center;
      color: black;
      margin-top: 15px;

    }
