* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #16161d;
  font-family: Arial;
  font-size: 17px;
}

.section{
    height: 104vh;
    box-sizing: border-box;
    z-index: -3;
    font-family: arial, sans-serif;
    font-family: Arial;
    font-size: 17px;  
}


.grad {
  background-color: #08abb0;
  background-image: -webkit-linear-gradient(#16161d, rgba(22, 22, 29, 0.8));
  background-image: linear-gradient(360deg, #16161d, rgba(22, 22, 29, 0.8));
}

.header {
font-size: 1.2rem;
height: 50px;
background: #12121255;
opacity: 0.5;
padding: 0 20px;
color: #fff;
}
.menu {
float: right;
line-height: 50px;
}
.menu a {
color: #fff;
text-transform: uppercase;
text-decoration: none;
padding: 0 10px;
transition: .4s;
}
.show-menu-btn, .hide-menu-btn {
transition: .4s;
font-size: 30px;
cursor: pointer;
display: none;
}
.show-menu-btn  {
float: right;
}
.show-menu-btn i {
line-height: 50px;
}
.menu a:hover {
text-decoration: none;
padding: 17px;
background: #fff;
color: #000;
}
.show-menu-btn:hover {
transform: rotate(90deg);
}
.hide-menu-btn:hover {
font-size: 2rem;
}
#check_box {
position: absolute;
right: 50px;
visibility: hidden;
z-index: -1111;
}

@media screen and (max-width: 1000px){
.show-menu-btn, .hide-menu-btn {
  display: block;
  line-height: 50px;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #000;
  right: -100%;
  top: 0;
  text-align: center;
  padding: 80px 0;
  line-height: normal;
  transition: .8s;
}

.menu a {
  display: block;
  padding: 20px;
}

.hide-menu-btn {
  position: absolute;
  top: 40px;
  right: 40px;
}

#check_box:checked ~ .menu {
  right: 0;
}
}

#myVideo {
display: block;
margin: auto;
}

@media screen and (max-width: 1000px){
  #myVideo{
    width: 360% !important;
  }
}

@media screen and (min-width: 1921px){
  #myVideo{
    width: 200% !important;
  }

  #neon{
    margin-top: 15%  !important;
  }
}


#myBtn {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #000;
color: #fff;
cursor: pointer;
}
#myBtn:hover {
background: #ddd;
color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#neon{

  display: inline-block;
  padding: 1.5%;
  margin: 1px ;
  color: #c1ffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4.2px;
  overflow: hidden;
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#indexTitle{
  margin-top: 20%  !important;
  display: inline-block;
  left: 2%;
  margin: 1px ;
  color: white;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4.2px;
  overflow: hidden;
  width: 80%;
  position: absolute;
}

.indexTitleH1 {
  font-size: 65px; 
  line-height: 1; 
  padding-bottom: 1%; 
  font-family: Montserrat, sans-serif;
}

.pulsate {
  -webkit-animation: pulsate 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.bookNowButton{
  
  border-radius: 8px;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.postAboutFormatter a:hover{
  background-color: #08abb0;
  
}

.indexTitle a{
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  display: inline-block;
  padding: 1%;
  text-decoration: none;
}

.indexTitle a:hover {
  border: 2px solid #08abb0;
}

@media screen and (max-width: 1000px){
#neon{
  top: 200px !important;

  width: 65% !important;
}
}

#neon:hover{
  background: #c1ffff;
  color: #000000;
  box-shadow: 0 0 5px #c1ffff,
              0 0 25px #c1ffff,
              0 0 50px #c1ffff,
              0 0 200px #c1ffff;
}
#neon:nth-child(1){
  filter: hue-rotate(270deg);
}
#neon:nth-child(2){
  filter: hue-rotate(110deg);
}
#neon span{
  position: absolute;
  display: block;
}
#neon span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#c1ffff);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
#neon span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#c1ffff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
#neon span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#c1ffff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
#neon span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#c1ffff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}


.mainText{
color: white;
z-index: -100;
opacity: 1;
width: 100%;

}


@media screen and (max-width: 1000px){
.mainText{
  margin-top: 150% !important;
  height: 80px !important;

}
}

.vidSpacer{
position: relative;
margin-top: 25%;
height: 800px;
background-color: #444;
z-index: 100;
opacity: 1;
}



.mainTextBlock{
padding: 7%;
opacity: 1;
top: 100%;
position: absolute;
z-index: -100 !important;
width: 100%;

}

.bg-vid{
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -3;
}
















.topnav {
overflow: hidden;

background-color: #00000000;
height: 60px;
@media screen and (max-width: 768px){
  font-size: 10px;
}
}

.nav-left a {
float: left;
color: #f2f2f2;
text-align: center;
display: inline-block;
}

.nav-right a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  display: inline-block;
  }

  .underline {
  --line: white;
  --color: white;
  text-decoration: none;
  color: var(--color);
  position: relative;
  margin-left: 10px;
}
.underline span {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--line)), to(var(--line)));
  background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: var(--background-size, 100%) 1px;
  -webkit-transition: background-size 0.2s linear var(--background-delay, 0.15s);
  transition: background-size 0.2s linear var(--background-delay, 0.15s);
  font-size: 16px;
  line-height: 20px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.underline svg {
  vertical-align: top;
  display: inline;
  line-height: 1;
  width: 13px;
  height: 20px;
  position: relative;
  left: -2px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
  stroke: var(--line);
  stroke-dasharray: 7.95 30;
  stroke-dashoffset: var(--stroke-dashoffset, 46);
  -webkit-transition: stroke-dashoffset var(--stroke-duration, 0.15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
  transition: stroke-dashoffset var(--stroke-duration, 0.15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
}
.underline:hover {
  --background-size: 0%;
  --background-delay: 0s;
  --stroke-dashoffset: 26;
  --stroke-duration: .3s;
  --stroke-easing: cubic-bezier(.3, 1.5, .5, 1);
  --stroke-delay: .195s;
}

.logo {
  width:77px; /*width of your image*/
  height:35px; /*height of your image*/
  content:url("EVLV_Logo.png");
  line-height: 60px;
  margin-left: 10px;
}

.logo-footer {
  width:154px; /*width of your image*/
  height:70px; /*height of your image*/
  content:url("EVLV_Logo.png");
}

.fa {
  padding: 4px 8px !important;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

.fa-footer {
  padding: 4px 8px !important;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}


.fa-facebook {
  color: white;
}


.fa-linkedin {
  color: white;
}

.fa-instagram {
  color: white;
}


/* target child with fa class on parent hover*/
.icons:hover > .fa 
{
  opacity: 0.5;
  color: white;
}

/* control child fa's opacity on both parent and self hover*/
.icons:hover > .fa:hover 
{
  opacity: 1;
  color: white;
}


.pill-button {
  background-color: transparent;
  font-size: 17px;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 500px;
  line-height: 15px;
}

.pill-button:hover {
  background-color: #08abb0;
  border: 2px solid #08abb0;
}


.topnav .icon {
display: none;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
.mobileNavButton{display: block !important}

}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
}


.arrow{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}


/* Header */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-width: 600px) {
  .nav-left{
    display: none;
  }
  .nav-right{
    display: none;
  }
}

.mobileNavButton{
  padding: 2%; padding-top: 2%; float: right; font-size:40px; cursor:pointer; display: none; z-index: 1000;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.smart-section {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 0rem;
  padding: 6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.8;
}

.no-top {
  padding-top: 0rem;
}



#column-left {
  -ms-grid-column-span: 2;
  grid-column-end: 6;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 9;
  grid-row-end: 10;
  -ms-grid-row: 1;
  grid-row-start: 1;
  }

#column-right {
-ms-grid-column-span: 5;
grid-column-end: 8;
-ms-grid-column: 3;
grid-column-start: 0;
-ms-grid-row-span: 1;
grid-row-end: 2;
-ms-grid-row: 1;
grid-row-start: 1;
}

.first-letter {
  margin-right: 10px;
  float: left;
  color: #08abb0;
  font-size: 3rem;
  line-height: 1;
}

.sliderHeading {
  color: white;
  padding-top: 3%;
  padding-left: 5%;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 5%;
}

.sliderBody {
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  font-size: 22px;
}

.sliderIcon {
  width: 10%;
  height: auto;
  margin-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sliderButton {
  border-radius: 8px;
  width: 90%;
  height: auto;
  font-size: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  margin-bottom: 5%;
  
}

.sliderButton a{
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  display: inline-block;
  padding: 2% 5%;
  text-decoration: none;
  
}

.sliderButtonHover a:hover{
  background-color: #08abb0;
  border: 2px solid #08abb0;
  color: white;
  
}

.indexArticleContainer{
  width: 100%;
  justify-content: center;
}

.indexArticleContainer h1 {
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 5%;
  
}

.indexArticleContainer h2:hover {
  color: #08abb0;
  cursor: pointer;
  
}


/* Article */

.gridElement{width: 100%; height: 300px}

.column {
  float: left;
  width: 50%;
  height: 300px; /* Should be removed. Only for demonstration */
}


.column p{
  padding-right: 10%
}

.one {
  cursor: pointer;
  text-shadow: 1px 1px #000000;
  width: 90%;
  height: 100%;
  overflow: hidden;
  background-color: #663399;
  position: relative;
  text-align: center;
}
.one a {  color: white; transition: color 0.3s ease; font-size: 20px; display: flex; justify-content: center;}
.one p { top: 0; font-size: 15; padding-top: 12px; padding-left: 12px; padding-right: 4px;}
.two {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 83%;
  transition: top .5s ease;
  color: white !important;
  display: block !important;
  text-align: center;
}


.one:hover .two {
  top: 50%;
}

.one:hover #articleOverlay{
  opacity: 0.7;
}
.one:hover a {
  color: #08abb0;
}
.one p{ 
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.one:hover p {
  color: #fff;
  opacity: 1;
}
.one:hover .articleDate {
  opacity: 1;
  color: #fff;
}

.articleDate{
  font-size: 14px;
  margin-left: 12px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}


#myBtnContainer h2:hover {
  color: #08abb0;
  cursor: pointer;
  
}

.blog-category-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
  margin-left: 0px;
  padding: 1rem 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
  color: #fff;
  font-size: 1rem;
  }

#myBtnContainer a:hover {
  color: #08abb0;
  cursor: pointer;
  
}

#articleOverlay{
  width: 100%; 
  height: 100%; 
  background-color: #000000;
  opacity: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

#articleOverlay :hover {
  background-color: #000000;
  opacity: 0.7;
}


/* Article Overlay */


.preview-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

figure {
  position: relative;
  overflow: hidden;
  display: block;
  width: 600px;
}
figure:hover {
  cursor: pointer;
}
figure:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
figure:hover .img-overlay {
  opacity: 0.7;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  padding-top: 150px;
}
figure:hover .overlay-txt {
  bottom: 250px;
  font-size: 2rem;
}
figure:hover figcaption {
  left: 0px;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

figure img {
  margin-bottom: -2%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-overlay {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  position: absolute;
  opacity: 0.4;
  top: 0px;
  width: 100%;
  height: 100%;
  padding-top: 225px;
  background: black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

figcaption {
  opacity: 0;
  width: 100%;
  bottom: 80%;
  left: 0;
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.overlay-txt {
  position: absolute;
  width: 100%;
  bottom: 175px;
  padding: 10px;
  margin: -5px 0 0;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 1;
}


.bodyMargin {
  margin-top: 20%; 
  padding-bottom: 0%;
}

.subscribeContainer {
  width: 100%; 
  position: absolute; 
  margin-top: 16%;
}

.accordionSection {
  padding-bottom: 13.5%;
} 

.splashText{
  margin-bottom: 4%;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-top: 10%;
}

@media only screen and (min-width: 414px) and (max-width: 736px){

  .splashText {
    margin-bottom: 4%;
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 20%;
    margin-bottom: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    }

  figure {
    position: relative;
    overflow: hidden;
    display: block;
    width: 380px;
    margin-bottom: 10%;
  }

  .accordionSection {
    padding-bottom: 55%;
    padding-top: 80%;
  } 

  .subscribeContainer {
    width: 100%; 
    position: absolute; 
    margin-top: 16%;
  }

  .bodyMargin {
    margin-top: 70%; 
    padding-bottom: 0%;
  }
  

  .section.horizontal-flex.no-bot.mobile._12rem-sides.home {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .content.flex-grow.mobile-home {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .gridElement {
    width: 340px;;
    height: 300px;
  }

  .overlay-txt {
    position: absolute;
    width: 100%;
    bottom: 70px;
    padding: 10px;
    margin: 0px 0 0;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 1;
  }

  figcaption {
    opacity: 0;
    width: 100%;
    bottom: 0%; 
    left: 0;
    color: white;
    font-size: 1rem;
    padding: 0px;
    text-align: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }

  #articleOverlay{
    width: 100%; 
    height: 100%; 
    background-color: #000000;
    opacity: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
  
  #articleOverlay :hover {
    background-color: #000000;
    opacity: 0.7;
  }
  
  
  /* Article Overlay */
  
  
  .preview-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }
  
  
  figure:hover {
    cursor: pointer;
  }
  figure:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  figure:hover .img-overlay {
    opacity: 0.7;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    padding-top: 90px;
  }
  figure:hover .overlay-txt {
    bottom: 130px;
    font-size: 1.5rem;
  }
  figure:hover figcaption {
    left: 0px;
    opacity: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  figure img {
    margin-bottom: -2%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .img-overlay {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
            align-items: flex-start;
    position: absolute;
    opacity: 0.4;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    background: black;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  .subscribeContainer {
    width: 340px;
    position: absolute;
    margin-top: 16%;
    }

    .indexTitleH1 {
      font-size: 45px; 
      line-height: 1; 
      padding-bottom: 1%; 
      font-family: Montserrat, sans-serif;
    }

    .sliderHeading {
      color: white;
      padding-top: 3%;
      padding-left: 5%;
      font-weight: 900;
      font-size: 18px;
      margin-bottom: 5%;
    }
    
    .sliderBody {
      color: white;
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 10%;
      font-size: 14px;
    }

    .sliderIcon {
      width: 15%;
      height: auto;
      margin-bottom: 10%;
      margin-top: 10%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    .sliderButton {
      border-radius: 8px;
      width: 90%;
      height: auto;
      font-size: 15px;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      left: 59%;
      bottom: 0;
      margin-bottom: 10%;
    }
    
    .sliderButton a{
      border-radius: 10px;
      border: 2px solid white;
      color: white;
      display: inline-block;
      padding: 2% 5%;
      text-decoration: none;
      
    }
    
    .sliderButtonHover a:hover{
      background-color: #08abb0;
      border: 2px solid #08abb0;
      color: white;
      
    }

    #indexTitle {
      margin-top: 50%  !important;
      display: inline-block;
      left: 2%;
      margin: 1px;
      color: white;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;
      letter-spacing: 4.2px;
      overflow: hidden;
      width: 80%;
      position: absolute;
      }

}